.untickCircleIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.iconText {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.iconText,
.iconText1,
.iconTextParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconText1 {
  justify-content: flex-start;
  gap: var(--gap-xs);
  opacity: 0.3;
}
.iconTextParent {
  position: absolute;
  top: 118px;
  left: 23px;
  border-radius: var(--br-md);
  border: 1px solid #d0d4da;
  box-sizing: border-box;
  width: 1466px;
  height: 60px;
  padding: var(--padding-xl);
  justify-content: space-between;
  font-size: var(--font-size-sm);
}
.arrowLeftIcon {
  position: relative;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.iconTextWrapper {
  align-self: stretch;
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  background-color: var(--white);
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.text5 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  font-weight: 600;
}
.textWrapper {
  align-self: stretch;
  flex: 1;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.continueToNext {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.arrowRightIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.continueToNextStepParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.continueToNextStepParent {
  border-radius: var(--br-xs);
  background-color: var(--gray-50);
  padding: var(--padding-sm) var(--padding-md);
  gap: var(--gap-xs);
}
.frameWrapper {
  align-self: stretch;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  background-color: var(--white);
  width: 300px;
  flex-shrink: 0;
  padding: var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: var(--gray-3);
}
.frameParent,
.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  position: absolute;
  top: 20px;
  left: 23px;
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.04);
  width: 1466px;
  height: 80px;
}
.menuWrapper {
  padding: var(--padding-xs) 0;
}
.category {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.categoryParent {
  flex: 1;
  gap: var(--gap-xs);
}
.categoryParent,
.frameContainer,
.module {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.module {
  border-radius: var(--br-sm);
  background-color: var(--white);
  box-shadow: var(--card-selected);
  border: 1px solid var(--purple);
  box-sizing: border-box;
  width: 606px;
  flex-shrink: 0;
  padding: var(--padding-lg);
  gap: var(--gap-xl);
}
.frameContainer {
  gap: var(--gap-lg);
  z-index: 8;
}
.arrowRightIcon2 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  opacity: 0.5;
}
.module1 {
  border-radius: var(--br-sm);
  background-color: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 606px;
  flex-shrink: 0;
  padding: var(--padding-lg);
  gap: var(--gap-xl);
}
.frameDiv,
.locationParent,
.module1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv {
  gap: var(--gap-lg);
  z-index: 7;
}
.locationParent {
  flex: 1;
  gap: var(--gap-sm);
}
.frameParent1,
.frameParent2,
.frameParent3,
.frameParent4,
.frameParent5,
.frameParent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  z-index: 6;
}
.frameParent2,
.frameParent3,
.frameParent4,
.frameParent5,
.frameParent6 {
  z-index: 5;
}
.frameParent3,
.frameParent4,
.frameParent5,
.frameParent6 {
  z-index: 4;
}
.frameParent4,
.frameParent5,
.frameParent6 {
  z-index: 3;
}
.frameParent5,
.frameParent6 {
  z-index: 2;
}
.frameParent6 {
  z-index: 1;
}
.addMore {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.addSquareParent,
.assessment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addSquareParent {
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.assessment {
  border-radius: var(--br-xs);
  border: 1px dashed var(--purple);
  box-sizing: border-box;
  width: 607px;
  padding: var(--padding-md) var(--padding-xl);
  justify-content: space-between;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--purple);
}
.frameGroup {
  position: absolute;
  top: 212px;
  left: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-md);
  color: var(--gray-1);
}
.text6 {
  flex: 1;
  position: relative;
  letter-spacing: 0.3px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.icons16pxarrowDownFilled {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.textField {
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  border: 1px solid var(--field-stroke);
  box-sizing: border-box;
  width: 741px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.technology {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.closeIcon {
  position: relative;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  opacity: 0.5;
}
.professionPills {
  border-radius: var(--br-xl);
  background-color: var(--color-indigo);
  border: 1px solid var(--purple);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-md);
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.content,
.professionPillsParent,
.textFieldParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.professionPillsParent {
  flex-direction: row;
  gap: 10px;
  font-size: var(--font-size-xs);
  color: var(--purple);
}
.content,
.textFieldParent {
  flex-direction: column;
}
.textFieldParent {
  gap: var(--gap-md);
  font-size: var(--font-size-sm);
  color: var(--text-text-02);
}
.content {
  position: absolute;
  top: 212px;
  left: 700px;
  border-radius: var(--br-md);
  background-color: var(--white);
  width: 789px;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  font-size: 24px;
  color: var(--gray-1);
}
.home {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 981px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-space-grotesk);
}

a{
  text-decoration: none;
}

.search{
  display: flex;
  border-radius: 10px;
  width: 200px;
}